<!-- about.component.html -->

<div class="about-container">
    <h2>About Page</h2>
    <p>
      This is the about page for my Angular project. Here, I will describe the work done for the task, including how I solved the requirements and any conclusions drawn from the work.
    </p>
    <h3>Task Description:</h3>
    <ul>
      <li>Creation of an Angular web application with responsive design and a functional navigation system.</li>
      <li>Inclusion of at least three pages, including a conversion page for converting values between different units.</li>
      <li>Implementation of Angular's router module for navigation between pages.</li>
      <li>Integration of CSS for styling with a focus on good structure and organization.</li>
      <li>Version control of the source code using Git and publishing the web application on a version control platform like Netlify.</li>
      <li>Optimization and deployment of the web application to a web hosting service for public access.</li>
    </ul>
    <h3>Conclusion:</h3>
    <p>
      The assignment provided valuable experience with Angular, including understanding its usage as a framework for building dynamic and responsive web applications. By completing the assignment, I gained insights into the construction of Angular applications and the interaction between different components. I also learned how to use CLI tools for testing and optimizing files.
    </p>
  </div>
  
