/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF; /* Set a contrasting background color */
    color: #000000; /* Set a contrasting text color */
    overflow-x: hidden;
}



  

